@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap'); 

*, :root {
    font-family: 'inter', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

header {
    padding: 30px 0 0 30px;
    margin: 20px auto 20px;
    max-width: 1080px;
    min-width: 720px;
    display: block;
}

.logo {
    padding-left: 5px;
    padding-bottom: 5px;
    display: flex;
    align-content: center;
}

.logo img {
    height: 150px;
    width: 150px;
    margin: auto;
}

nav {
    margin: 20px auto 20px;
    max-width: 1080px;
    min-width: 720px;
}

nav li {
    display: inline-block;
    margin: auto;
}

.menu {
    list-style:none;
    text-align: center;
}

.menu li {
    border-right:1px solid #c0c0c0;
}

.menu li a {
    color:#333; 
    text-decoration:none; 
    padding:5px 10px; 
}

.menu li a:hover{
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

main {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1080px;
    min-width: 720px;
    margin: 20px auto 20px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.sessao1 {
    display: flex;
    align-items: center;
}

.sessao1 img {
    border-radius: 100%;
    margin: 0 20px 0 0;
    width: 400px; 
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

#apresentacao {
    width: 540px;
    margin: 20px;
    text-align: justify;
    text-justify: inter-word;
}

#apresentacao h1 {
    font-size: 70px;
    margin: auto;
}

#apresentacao p {
    font-size: 18px;
}

.foto {
    text-align: center;
    margin: 30px;

}

.experiencia {
    padding-left: 5%;
    text-align: justify;
    text-justify: inter-word;
}

.titleform {
    border-top: 1px solid #333;
}

footer {
    display: flex;
    padding: 20px;
    max-width: 1080px;
    min-width: 720px;
    margin: 0 auto 0px;
}

footer article {
    width: 360px;
}